<mat-accordion *ngIf="isLoaded">
    <mat-expansion-panel [hidden]="!ticket.active || hidden" (opened)="getImages()">
        <mat-expansion-panel-header>
            <mat-panel-title><strong>Ticket #:</strong> &nbsp;{{ticket.id}}</mat-panel-title>
            <mat-panel-description><strong>Subject:</strong> &nbsp;{{ticket.subject}}</mat-panel-description>
            <mat-panel-description><strong>Reason:</strong> &nbsp;{{ticket.reason!.reasonDesc}}</mat-panel-description>
        </mat-expansion-panel-header>
        <div class="expanded-items">
            <div class="expanded-items-left">
                <h4><strong>User Comment:</strong> &nbsp;{{getComment(ticket.comment)}}</h4>
                <mat-expansion-panel class="user-expansion-panel">
                    <mat-expansion-panel-header>
                    <mat-panel-title><strong>User Info:</strong></mat-panel-title>
                    </mat-expansion-panel-header>
                    <h5><strong>Name:</strong> &nbsp;{{user?.firstName + ' ' + user?.lastName}}</h5>
                    <h5><strong>Email:</strong> &nbsp;{{user?.email}}</h5>
                    <h5><strong>CAC ID:</strong> &nbsp;{{user?.cacId}}</h5>
                    <h5><strong>Phone Number:</strong> &nbsp;{{user?.phoneNum}}</h5>
                </mat-expansion-panel>
                <div matExpansionPanelContent>
                    <h3>Uploaded Files: {{numberOfFiles}}</h3>
                    <div class="file-container" *ngIf="retrievedImages.length > 0">
                        <div class="file" *ngFor="let image of retrievedImages">
                            <img [src]="image">
                        </div>
                    </div>
                </div>
            </div>
            <div class="expanded-items-right">
                <h4><strong>Url: </strong> &nbsp;{{ticket.url}}</h4>
                <h4><strong>Time Submitted:</strong> &nbsp;{{ticket.timeStamp}}</h4>
                <div class="status-view" *ngIf="userRole === 'app-admin'">
                    <h4><strong>Ticket Active:</strong> &nbsp;{{ticket.active}}</h4>
                    <h4><strong>DevTicket Status:</strong> &nbsp;{{this.devTicket.status!.statusDesc}}</h4>
                </div>
                <div class="buttons">
                    <div class="pick-up-ticket-button">
                        <button class="btn btn-warning" (click)="pickUpTicket()" [disabled]="buttonDisabled" [hidden]="!canPickup">{{pickUpButtonText}}</button>
                    </div>
                    <div class="delete-ticket-button">       
                        <button class="btn btn-danger" [hidden]="!canResolve" (click)="resolveTicket()">Resolve Ticket</button>
                    </div>
                </div>
            </div>
        </div>
    </mat-expansion-panel>
</mat-accordion>
