<div class="login-container">
    <img src="https://i.imgur.com/Df5kxu5.jpg" alt="Roll Tide" class="login-image">
    <form (ngSubmit)="onSubmit(username, password)" class="login-form">
      <label>Username:</label>
      <input type="username" name="username" [(ngModel)]="username">
      <label>Password:</label>
      <input type="password" name="password" [(ngModel)]="password">
      <button type="submit" class="login-button">Login</button>
      <div *ngIf="errorMessage">
        <p style="color:red;">{{errorMessage}}</p>
      </div>
    </form>
  </div>
  