<h2>Admin Panel</h2>
<br>

<h4>Manage Approvers</h4>
<div class="table-responsive">
    <form [formGroup]="approverForm" (ngSubmit)="addApprover()">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th class="col-sm-1"></th>
                <th scope="col">Approver Name</th>
                <th scope="col">Approver Email</th>
                <th class="col-sm-1"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor = "let approver of approvers">
                <td class="col-sm-1"></td>
                <td>{{ approver.name}}</td>
                <td>{{ approver.email}}</td>
                <td class="col-sm-1">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash align-center" (click)="removeApprover(approver)" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg>
                </td>
            </tr>
            
            <tr>
                <td class="col-sm-1 text-center align-middle">Add:</td>
                <td><input class="form-control" type="text" id="name" formControlName="name" required></td>
                <td><input class="form-control" type="text" id="email" formControlName="email" required></td>
                <td class="col-sm-1">
                    <button type="submit" class="btn btn-primary justify-content-center" [disabled]="!approverForm.valid">Submit</button>
                </td>
            </tr>
            </tbody>
        </table>
    </form>
</div>
<br>
<h4>Manage Groups</h4>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th scope="col">Group ID</th>
            <th scope="col">Group Name</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor = "let group of groups">
            <td>{{ group.id}}</td>
            <td>{{ group.name}}</td>
        </tr>
        </tbody>
    </table>
</div>
<br>
<!-- <h4>Manage Admins</h4>
<div class="table-responsive">
    <table class="table table-striped table-sm">
        <thead>
        <tr>
            <th scope="col">Username</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor = "let user of users">
            <td>{{ user.username}}</td>
        </tr>
        </tbody>
    </table>
</div> -->