div.user-request-grid > div.row {
    border-style: solid;
    border-color: black;
    border-top-style: none;
}

div.user-request-grid > div.row:first-child {
    border-top-style: solid;
}

div.user-request-grid > div.row > div {
    border-left-style: solid;
    border-left-color: black;
}

div.user-request-parts-grid > div.row > div {
    border-style: solid;
    border-color: black;
    border-right-style: none;
    border-top-style: none;
}

div.user-request-parts-grid > div.row:first-child > div.text-center {
    border-top-style: solid;
}

div.user-request-parts-grid > div.row > div:last-child {
    border-top-style: none;
    border-right-style: none;
    border-bottom-style: none;
}

div.user-request-total-grid > div.row > div {
    border-style: solid;
    border-color: black;
    border-top-style: none;
    border-left-style: none;
}

div.user-request-total-grid > div.row:first-child > div {
    border-top-style: solid;
}

div.user-request-total-grid > div.row > div:first-child {
    border-left-style: solid;
}

.yellow {
    background-color: yellow;
}

.red {
    background-color: palevioletred;
}

div.alert {
    color: red;
}